* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 70px;
}

footer {
  height: 185px;
}
